body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#title {
    font-size: 24px;
    margin-bottom: 20px;
}

#startButton,
#retryButton,
#surprise1Button,
#surprise2Button {
    padding: 10px 20px;
    font-size: 18px;
}

#questionContainer,
#gameOverContainer,
#winContainer {
    display: none;
    margin-top: 50px;
}

#nextButton {
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 20px;
}

li {
    margin: 10px 0;
    cursor: pointer;
}

li.selected {
    font-weight: bold;
}

li.correct {
    color: green;
}

li.incorrect {
    color: red;
}
